In [8]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Salma\New folder\OneDrive\Desktop\LAB 3\custom_data.csv")

In [10]:
import pandas as pd

# Load dataset
df = pd.read_csv(r"C:\Users\Salma\New folder\OneDrive\Desktop\LAB 3\custom_data.csv")

# Basic stats
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])
print(df.head())

print(f"Extracted {df.shape[0]} rows fully.")

Rows: 100
Columns: 4
   SaleID  Product   Amount            Timestamp
0       1   Laptop  1138.17  2024-01-29 00:00:00
1       2    Phone   295.35  2024-03-03 00:00:00
2       3  Monitor   221.71  2024-01-27 00:00:00
3       4   Laptop   141.72  2024-04-18 00:00:00
4       5    Phone   807.50  2024-02-25 00:00:00
Extracted 100 rows fully.

In [12]:
from datetime import datetime

# Read last extraction timestamp
with open('last_extraction.txt', 'r') as f:
    last_timestamp = f.read().strip()

print("Last extraction was at:", last_timestamp)

# Convert strings to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
last_extracted_dt = pd.to_datetime(last_timestamp)

# Filter new records
new_data = df[df['Timestamp'] > last_extracted_dt]
print(f"Extracted {len(new_data)} rows incrementally since last check.")
print(new_data.head())

Last extraction was at:
Extracted 0 rows incrementally since last check.
Empty DataFrame
Columns: [SaleID, Product, Amount, Timestamp]
Index: []

In [13]:
# Update timestamp
new_timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

with open('last_extraction.txt', 'w') as f:
    f.write(new_timestamp)

print("Updated last_extraction.txt to:", new_timestamp)

Updated last_extraction.txt to: 2025-06-08 21:46:11

In [1]:
## Section 4: Transform Full Data

 #This section applies three transformations to the extracted dataset:
#1. leaning – handle duplicates and missing values.
#2. Enrichment – add tax and total price columns.
#3. Structural – convert and standardize date fields.

import pandas as pd

# Load the extracted data from the full path
file_path = r"C:\Users\Salma\New folder\OneDrive\Desktop\LAB 3\custom_data.csv"
df = pd.read_csv(file_path)

# --- Cleaning ---
df.loc[5, 'Amount'] = None  # Simulate a missing value
df = df.drop_duplicates()
df['Amount'] = df['Amount'].fillna(df['Amount'].median())

# --- Enrichment ---
df['Tax'] = df['Amount'] * 0.10
df['Total'] = df['Amount'] + df['Tax']

# --- Structural ---
df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
df['SaleDate'] = df['Timestamp'].dt.strftime('%Y-%m-%d')
df.drop(columns=['Timestamp'], inplace=True)

# Save the transformed full dataset
df.to_csv(r"C:\Users\Salma\New folder\OneDrive\Desktop\LAB 3\transformed_full.csv", index=False)

# Preview
df.head()

   SaleID  Product   Amount      Tax     Total    SaleDate
0       1   Laptop  1138.17  113.817  1251.987  2024-01-29
1       2    Phone   295.35   29.535   324.885  2024-03-03
2       3  Monitor   221.71   22.171   243.881  2024-01-27
3       4   Laptop   141.72   14.172   155.892  2024-04-18
4       5    Phone   807.50   80.750   888.250  2024-02-25

In [2]:
## Section 5: Transform Incremental Data

#This section simulates an incremental ETL load by saving the last 20 records from the fully transformed dataset.
# Take last 20 rows from the transformed full data
df_incremental = df.tail(20)

# Save the incremental dataset
df_incremental.to_csv(r"C:\Users\Salma\New folder\OneDrive\Desktop\LAB 3\transformed_incremental.csv", index=False)

# Preview
df_incremental.head()

    SaleID     Product   Amount      Tax     Total    SaleDate
80      81      Tablet  1397.13  139.713  1536.843  2024-04-09
81      82      Tablet   692.21   69.221   761.431  2024-04-26
82      83  Headphones   316.72   31.672   348.392  2024-05-22
83      84       Phone  1456.19  145.619  1601.809  2024-03-16
84      85     Monitor   185.34   18.534   203.874  2024-05-28