In [ ]:
#Section 1: Load Setup
import pandas as pd
import sqlite3
from pathlib import Path

# Paths
full_csv_path = "transformed_full.csv"
inc_csv_path = "transformed_incremental.csv"
output_dir = Path("loaded_data")
output_dir.mkdir(exist_ok=True)

In [2]:
#Section 2: Load Full Transformed Data (SQLite)
df_full = pd.read_csv(full_csv_path)
conn_full = sqlite3.connect(output_dir / "full_data.db")
df_full.to_sql("full_data", conn_full, if_exists="replace", index=False)
conn_full.close()

In [3]:
#Section 3: Load Incremental Transformed Data
df_inc = pd.read_csv(inc_csv_path)
conn_inc = sqlite3.connect(output_dir / "incremental_data.db")
df_inc.to_sql("incremental_data", conn_inc, if_exists="replace", index=False)
conn_inc.close()

In [5]:
#Section 4: Verification
conn = sqlite3.connect(output_dir / "full_data.db")
pd.read_sql("SELECT * FROM full_data LIMIT 5;", conn)

   SaleID  Product   Amount      Tax     Total    SaleDate
0       1   Laptop  1138.17  113.817  1251.987  2024-01-29
1       2    Phone   295.35   29.535   324.885  2024-03-03
2       3  Monitor   221.71   22.171   243.881  2024-01-27
3       4   Laptop   141.72   14.172   155.892  2024-04-18
4       5    Phone   807.50   80.750   888.250  2024-02-25